{% load static %}
{% load i18n static simpletags %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>忘记密码</title>
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
		<link rel="stylesheet" href="{% static 'cdnjs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'cdnjs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'cdnjs/admin-lte/2.4.8/css/AdminLTE.min.css' %}">
		<script src="{% static 'cdnjs/jquery/3.5.0/jquery.min.js' %}"></script>
		<script src="{% static 'cdnjs/twitter-bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	</head>

    <body class="hold-transition login-page" style="overflow-y:hidden">
		<div class="login-box">
			<form class="form-login" action="/forgetpwd/" method="post">
				{% block header %}
				<div class="header">{{ site_header }}</div>
				{% endblock %}
				<div class="login-logo">
					<a href="#" style="color:#32779f"><b>修改</b>密码</a>
				</div>
				<!-- <div class="container"> -->
				<div class="login-box-body text-center">
					<!-- <div class="col"> -->
					{% if login_form.captcha.errors %}
					<div class="alert alert-warning">{{ login_form.captcha.errors }}</div>
					{% elif message %}
					<div class="alert alert-warning">{{ message }}</div>
					{% endif %}
					{% csrf_token %}
					<!-- <h3 class="text-center">修改密码</h3> -->
					<div class="form-group">
						<label for="id_idcard">学号：</label>
						<input type="text" name='idcard' class="form-control" id="id_idcard" placeholder="学号" autofocus required>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>         
					</div>
					<div class="form-group">
						<label for="id_pwd">旧密码</label>
						<input type="password" name='pwd' class="form-control" id="id_pwd" placeholder="旧密码" autofocus required>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div class="form-group">
						<label for="id_newpwd1">新密码：</label>
						<input type="password" name='newpwd1' class="form-control" id="id_newpwd1" placeholder="新密码" required>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div class="form-group">
						<label for="id_newpwd2">确认密码：</label>
						<input type="password" name='newpwd2' class="form-control" id="id_newpwd2" placeholder="重复输入新密码" required>
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
					</div>
					<div>
						<br>
						<button type="submit" class="btn btn-primary btn-block btn-flat J_menuItem">确认修改</button><br>
						<a href="/login/" class="text-success " ><ins>返回</ins></a>
						<!-- <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
					</div>
					<div class="social-auth-links text-center">
					</div>
					<!-- </div>  /col -->
				</div>
				<!-- </div> /container -->
			</form>
		</div>
	{% include 'admin/includes/js-part.html' %}
	<script type="text/javascript" src="{% static '/admin/simpleui-x/js/login.js' %}?_=3.3"></script>
	</body>
</html>